@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


body{
    background-color: #F3E5D7;
}
#main-container{
    height: auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 80px;
    padding: 18px;
    text-align: center;
    overflow: auto;
    /* border: 2px solid red; */
    
}
#image-container{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}
#image-container img{
    width: 100%;
    border-radius: 5px;
}

#content-container{
    padding: 0px;
    /* border: 2px solid blue; */
    width: 95%;
    margin:auto;
}

#content-container h3{
    text-align: left;
    font-family: "Young Serif", serif;
    margin-top: 0px;
    margin-bottom: 10px;

}
#title p{
    font-size: 15px;
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    margin-top: 0px;
    padding: 0px;
}

#title{
    margin: auto;
    margin-bottom: 10px;
        overflow: auto;
}
#preparation{
        overflow: auto;
    width: 95%;
    background-color: #FFECF5 ;
    padding: 0px;
    padding-bottom: 10px;
    font-family: "Outfit", "sans-serif";
    width: 100%;
    color: #5F564D;
    /* border: 2px solid green; */
    margin: auto;
    margin-top: 0px;
    /* margin-bottom: 10px; */
}
#preparation h6{    font-size: 15px;
    text-align: left;
    color: #7A284E;
    padding: 10px;
    margin: 0px;
}
#prep-list{
    text-align: left; 
    font-size: 15px;   
    padding: 0px;
    line-height: 20px;
    /* border: 2px solid black; */
    width: 100%;
}
#prep-list ul{
    text-align: left;
    padding: 0px;
    padding-left: 3%;
    margin: 0px;
}
#prep-list ul li::marker{
    color: #7A284E;
}
#ingredients{
    /* border: 2px solid brown; */
        overflow: auto;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
#ingredients h5{
        font-size: 20px;
    color: #854632;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Young Serif", serif;
}
#ingredients ul{
    padding: 0px;
    font-size: 15px;
    text-align: left;
    padding-left:2% ;
    line-height: 20px;
    font-family: "Outfit", "sans-serif";
}
#ingredients ul li::marker{
    color: #854632;
}
#instructions{
        overflow: auto;
    margin-top: 10px;
    border-bottom: 1px solid grey;
}
#instructions h5{
        font-size: 20px;
    margin: 0px;
    text-align: left;
    color: #854632;
    font-family: "Young Serif", serif;
}
#instructions ol{
    font-size: 15px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-left: 2%;
    font-family: "Outfit", "sans-serif";
    color: #5F564D;
    line-height: 20px;
}
#instructions ol li{
    padding-left: 1%;
}
.step-header{
    font-weight: 500;
    color: black;
}
#instructions ol li::marker{
    font-size: 15px;
    color: #854632;
    font-weight: 800px;
}
#nutrition{
    margin-top: 10px;
        overflow: auto;
}
#nutrition h5{
    font-size: 20px;
    margin: 0px;
    text-align: left;
    color: #854632;
    font-family: "Young Serif", serif;
    margin-bottom: 5px;
}
#nutrition p{
    font-size: 15px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", "sans-serif";
    color: #5F564D;
    line-height: 20px;
    margin-bottom: 10px;
}
#nutrition table{
    font-size: 15px;
    text-align: left;
    margin: 0px;
    padding: px;
    font-family: "Outfit", "sans-serif";
    color: #5F564D;
    line-height: 20px;
    /* border: 2px solid red; */
    width: 100%;
    border-collapse: collapse;

}
#nutrition table tr {
    border: none;
    border-bottom: 0.1px solid grey;
     /* Add bottom border to separate rows */
}
#nutrition table td{
    padding: 4px;
    padding-left: 10px;
}

#nutrition table tr:last-child {
    border-bottom: none; /* Remove bottom border for the last row to prevent an extra line at the bottom */
}
.tdata{
    color: #854632 ;
}
@media screen and (max-width: 768px) {
  #content-container h3 {
    width: 70%;
    font-size: 1.2rem; 
  }

  #prep-list, #ingredients ul, #instructions ol {
    line-height: 1.4; 

  }
}

@media screen and (min-width: 768px) {
  #main-container {
    width: 70%; /* Adjust width for tablets */
  }
}